.detPost{
margin: 0 auto;
padding-top: 25px;
}
.button{
    color:#d2ae84;
    background-color: rgba(59,93,122,1);
    font-size: 1rem;
    padding: 15px;
}
.button:hover{
    color: rgb(71, 99, 124);
    background-color: #d2ae84a4;
    border-radius: 15px;
}